<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="script/vue.js"></script>

</head>
<body>
	<div id="app">
		<input type="radio" name="" v-model='picked' value='html' id='html'>
		<label for="html">HTML</label>
		<br>
		<input type="radio" name="" v-model='picked' value="js" id="js">
		<label>JavaScript</label>
		<br>
		<input type="radio" name="" v-model='picked' value="css" id='css'>
		<label for="css">CSS</label>
		<br>
		<p>选择的项是：{{ picked }}</p>
	</div>

	<script>
		var app = new Vue({
			el:'#app',
			data:{
				picked:'js'
			}
		})
	</script>

	<!-- 数据picked的值与单选按钮的value值一致时，就会选中该项，所以当前状态下选中的是第二项JavaScript -->
</body>
</html>